body{
    margin: 0;
}

.nav{
    background-color:pink;
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: start;
    position: relative;
}

.nav-title{
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for horizontal alignment */
}
.nav-item{
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
   
}

.nav-item li {
    margin:  15px; /* Space between items */
}
.nav-item a {
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 15px; /* Add padding */
   
}
